<div class="container">
  <h3>Chat App</h3>
<span><a routerLink="/login" routerLinkActive="active" class="nav-link">Login</a></span>
  <a routerLink="/signup" routerLinkActive="active" class="nav-link">Sign Up</a>
</div>




