<div class="d-flex flex-column chatroom-list">
  <ng-container *ngFor="let chatRoom of [1,2,3,4,5,6,7,8,9,10,11,12,13,14]">
    <div class="chatroom-list-item">
      <button routerLink="/chatRoom">Chat Room #{{chatRoom}}</button>
    </div>
  </ng-container>
</div>
