.chat-window {
    background-color: lightgray;
    margin: 10%;
}

.message-wrapper {
  height: auto;
  float: top;
  padding: 30px 15px 0 25px;
  width: 80%;
  overflow: scroll;
  scroll-behavior: smooth;
}
