<div class="container d-flex justify-content-center align-items-center">
  <div class="form-wrapper form-floating mb-3">
    <h2 class="text-center">Log In</h2>
    <div>
      <form [formGroup] = 'loginForm' (ngSubmit) = 'login()'>
          <label>Username</label>
          <input type = 'text' name = "username" formControlName = 'username' />
          <label>Password</label>
          <input type = 'password' name = "password" formControlName = 'password' />
          <div>
              <button type ='submit' [disabled] = 'loginForm.invalid' class="btn btn-primary">
                  Login
              </button>
          </div>
      </form>
    </div>
  </div>
</div>


