.half-width {
  width: 10%;
}

.full-width {
  width: 20%;
}

// .container {
//   margin: 20px;
//   display: flex;
//   align-self: start;
//   align-items: center;
//   // background-color: #512da8;
// }

.text-floral-white {
  color: floralwhite !important;
}

.form-size {
  align-content: center;
}
