<div class="container d-flex justify-content-center align-items-center">
  <div class="form-wrapper form-floating mb-3">
    <h2 class="text-center">Sign Up</h2>
    <div>
      <form [formGroup] = 'signupForm' (ngSubmit) = 'register()'>
        <p>
          <label>firstname</label>
          <input type="text" name = "firstname" formControlName="firstname" placeholder="firstname"/>
          <label>lastname</label>
          <input type="text" name = "lastname" formControlName="lastname" placeholder="lastname"/>
        </p>
        <p>
          <label>Username</label>
          <input type = 'text' name="username" formControlName = 'username' placeholder="username"  />
          <label>Password</label>
          <input type = 'password' name = "password" formControlName = 'password' />
        </p>
        <div>
          <button type ='submit' [disabled] = 'signupForm.invalid' class="btn btn-primary">
              Signup
          </button>
        </div>
      </form>
    </div>
  </div>
